*{
    text-decoration: none;
}

@font-face {
    font-family: "Regular";   
    src: local("POORRICHARD"),
      url("../POORICH.TTF") format("truetype");
}
@font-face {
    font-family: "unicode";   
    src: local("LUDICA"),
      url("../Lucida Sans Unicode.ttf") format("truetype");
}
@font-face {
    font-family: "bell";   
    src: local("BELL MT"),
      url("../BellMTBold.ttf") format("truetype");
}
@font-face {
    font-family: "pris";   
    src: local("PRISTINA"),
      url("../PRISTINA.TTF") format("truetype");
}
@font-face {
    font-family: "Rockwell";   
    src: local("Rock"),
      url("../ROCK.TTF") format("truetype");
}

.home {
    width: 100%;
    height: 235vh;
    /*background: rgba(232, 232, 232, 0.831);*/
}

.home .uppercontent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home .uppercontent .container .title{
    font-family: 'Regular';
    font-size: 50px;
    color: #FFB300;
    font-weight: 500;
    text-shadow: 0px 4px 4px #0000002b;
}

.home .container .param1{
    font-family: 'unicode';
    margin-top: -23px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;
}

.home .uppercontent .aboutimg {
    margin-top: 13px;
    height: 432px;
    width: 567px;
    display: inline-block;
}

.home .uppercontent .container{
    margin-left: 12%;
    text-align: left;
    font-weight: 100;
    font-size: 23px;
}

.home .uppercontent button{
    border-radius: 25px;
    border: 3px solid #FFB300;
    box-shadow: 1px 1px 3px #00000054 ,inset 0px 0px 8px 1px #6b6b6b21;
    
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'unicode';
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.home .uppercontent button:hover{
    transform: scale(1.1);
}

/* ---- end of upper conent ---- */


/* ---- Start of middle content ---- */
.middle{
    width: 100%;
    height: 75vh;

}

.menu-image{
    min-height: 75vh;
    background: url(../assests/menu-4.jpg) top/cover fixed no-repeat;
}

.menu-text{
    min-height: 74vh;
    display: flex;
    align-items: center;
    background: #fff;
    columns: #0000;
    
}

.menu-text-center{
    width: 90%;
    margin: 0 auto;
    height: 400px;
}

.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menu-text p{
    margin: 20px 0;
    line-height: 2;
}

.menu-text .btn1{
    border-radius: 25px;
    border: 3px solid #539727;
    box-shadow: 1px 1px 3px #00000054 ,inset 0px 0px 8px 1px #6b6b6b21;
    width: 180px;
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'unicode';
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
    transition-duration: 0.4s;
}
.menu-text .btn1:hover{
    transform: scale(1.1);
}

.menu-text .btn2{
    border-radius: 25px;
    border: 3px solid #539727;
    box-shadow: 1px 1px 3px #00000054 ,inset 0px 0px 8px 1px #6b6b6b21;
    width: 180px;
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'unicode';
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    transition-duration: 0.4s;
}
.menu-text .btn2:hover{
    transform: scale(1.1);
}

.btns{
    width: 265px;
    display: flex;
    position: relative;
    top: 90px;
    transition-duration: 0.4s;
}



@media screen and (min-width:776px){
    .menu{
        display: flex;
        width: 100%;
        height: 74.3vh;
    }
    .menu-text{
        flex: 0 0 30%;
    }
    .menu-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    }
    .menu{
        background: #fff;
    }
}

.chocoimg{
    width: 330px;
    height: 290px;
    position: absolute;
    margin-top: -80px;
}

.menu-text .menu-text-center {
    z-index: 1000;
}

.menu-text .menu-text-center .chococonent{
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: -30px;
}
.menu-text .menu-text-center .chococonent .dish{
    font-family: 'bell';
    font-size: 30px;
    margin-bottom: 18px;
    text-decoration: underline;
}

.menu-text .menu-text-center .dishname{
    font-family: 'pris';
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 4px;
}
.menu-text .menu-text-center .cost{
    font-family: 'bell';
    font-size: 20px;
    font-weight: 600;
    margin-top: -30px;

}
/* ---- End of middle Section ---- */


/* ---- start of lower Section ---- */
.lower{
    width: 100%;
    height: 75vh;
    background: #53972769;
}
.container_main img{
    width: 400px;
    height: 350px;
    border-radius: 40px;
    margin-top: 40px;
}

.container_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container_main .container1{
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -5px;
}
.container_main .container1 .title1{
    font-family: 'Rockwell';
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    line-height: 0px;
}
.container_main .container1 .sub4{
    font-size: 19px;
    width: 90%;
    font-family: 'Rockwell';
    text-align: center;
}
.container_main .form input , select {
    border-radius: 25px;
    border: 3px solid #539727;
    box-shadow: 1px 1px 3px #00000054 ,inset 0px 0px 8px 1px #6b6b6b21;
    width: 180px;
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'unicode';
    text-decoration: none;
    outline: none;
    padding-left : 10px;
}
.container_main .form #name ,#phone ,#message{
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px; 
}
.container_main .form #date{
    width: 123px;
    height: 30px;
    margin-bottom: 10px;
    padding-right: 20px;
    margin-right: 40px;
}
.container_main .form .select{
    width: 170px;
    height: 35px;
    margin-right: 10px;
}

.container_main .form .send button{
    border-radius: 25px;
    border: 3px solid #539727;
    position: relative;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'unicode';
    text-decoration: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px; 
    transition-duration: 0.4s;
}
.container_main .form .send button:hover{
    transform: scale(1.1);
}